:root {
    --background-color: #191F38;
    --font-color: white;
    --font-size-header: 1.25rem;
    --icon-size-header: 2.5rem;
    --icon-color-header: #01BEE1;
    --icon-color-separate: #202747;
}

/* Utility Class */
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.justify-content {
    justify-content: center;
}

/* Header */
.left-header {
    gap: 0.5rem;
}

header {
    justify-content: space-between;
    font-weight: bold;
    font-size: var(--font-size-header);
    border-bottom: 2px solid var(--icon-color-separate);
    margin-bottom: 1rem;
}

.fa-droplet {
    font-size: var(--icon-size-header);
    color: var(--icon-color-header);
}

/* Carousal */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 33.33vh;
}

.carousel-slide-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.carousel-slide {
    position: absolute;
    width: 225px;
    height: 168px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s, transform 0.5s;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
}

.carousel-slide img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.carousel-slide.previous-slide {
    opacity: 1;
    z-index: 2;
}

.carousel-slide.current-slide {
    opacity: 1;
    z-index: 2;
}

.carousel-slide.next-slide {
    opacity: 1;
    z-index: 2;
}

/* Uniform Styles */
body {
    margin: 1rem;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

@media only screen and (max-width: 600px) {
    body {}
}