:root {
    --default-icon-account: 24px;
    --profile-icon-account: 48px;
    --gap-between-dropdown-icons: 0.75rem;
    --gap-between-dropdown-content: 1rem;
    --gap-between-dropdown-menu: 0.5rem;
}

/* Utility Class */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Website Dropdown Menu */
.website-dropdown-menu {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    float: right;
    font-family: 'Roboto', sans-serif;
    gap: 1rem;
    padding: var(--gap-between-dropdown-menu);
}

.account-image {
    width: var(--profile-icon-account);
    height: var(--profile-icon-account);
    border-radius: 50%;
    object-fit: cover;
}

.account {
    gap: 0.5rem;
}

.account-name {
    font-weight: bold;
}

/* Dropdown Content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: calc(100% + var(--gap-between-dropdown-menu));
    background-color: blue;
    padding: 10px;
    min-width: 160px;
    gap: var(--gap-between-dropdown-content);
}

/* Header Icons */
.fa-bell,
.fa-magnifying-glass,
{
font-size: var(--default-icon-account);
}

.dropdown-content i {
    font-size: 1rem;
    padding: 0rem 0.75rem 0rem 0.5rem;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}