:root {
    --default-icon-account: 24px;
    --profile-icon-account: 48px;
    --gap-between-dropdown-icons: 0.75rem;
    --gap-between-dropdown-content: 1rem;
    --gap-between-dropdown-menu: 0.5rem;
    --dropdown-content-color: white;
    --dropdown-background-color: black;
}

/* Utility Class */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
    transform: 5s;
}

/* Website Dropdown Menu */
.website-dropdown-menu {
    display: flex;
    position: relative;
    float: right;
    justify-content: flex-end;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    gap: 1rem;
    padding: var(--gap-between-dropdown-menu);
}

.account-image {
    width: var(--profile-icon-account);
    height: var(--profile-icon-account);
    border-radius: 50%;
    object-fit: cover;
}

.account {
    gap: 0.5rem;
}

.account-name {
    font-weight: bold;
}

/* Dropdown Content */
.dropdown-content,
.dropdown-content a {
    color: var(--dropdown-content-color);
    background-color: var(--dropdown-background-color);
    text-decoration: none;
}

.dropdown-content {
    position: absolute;
    top: calc(100% + var(--gap-between-dropdown-menu));
    padding: 15px;
    min-width: 160px;
    gap: var(--gap-between-dropdown-content);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 2;
}

.dropdown-content::before {
    content: '';
    position: absolute;
    top: calc(0% - 8px);
    right: var(--gap-between-dropdown-menu);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--dropdown-background-color);
    overflow: hidden;
    z-index: 1;
}

/* Header Icons */
.fa-bell,
.fa-magnifying-glass,
{
font-size: var(--default-icon-account);
}

.fa-chevron-down {
    transition: transform 0.3s ease;
    transform-origin: center;
    transform: rotate(180deg);
    cursor: pointer;
}

.rotated {
    transform: scaleY(1);
}

.dropdown-content i {
    font-size: 1rem;
    padding: 0rem 0.75rem 0rem 0.5rem;
}